.note {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 10px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgrey;
}

.note p,
h4 {
    margin: 0;
}

.note h4 {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.note .note-content {
    min-height: 100px;
    flex: 1;
}

.note .note-date {
    text-align: right;
    width: fit-content;
    margin-bottom: auto;
    font-size: small;
    padding: 1px 3px;
    border-radius: 10px;
    background-color: #f4f4f4a0;
    margin-left: auto;
}

.note.green {
    background-color: #c9e4de;
}

.note.red {
    background-color: #ffadad;
}

.note.orange {
    background-color: #ffd6a5;
}

.note.yellow {
    background-color: #faedcb;
}

.note.blue {
    background-color: #d9edf8;
}

.note.pink {
    background-color: #f9e2dc;
}

.note.purple {
    background-color: #f7f5ff;
}

.note.open-note {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}


.note .open-note-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.note .open-note-buttons button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    outline: none;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
}

.note .open-note-buttons button:hover {
    border: 1px solid lightgrey;
}