.note-grid {
    max-width: 1700px;
    margin: 20px auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.note-grid .note {
    margin: 10px;
    align-self: flex-start;
}